

  <form action="{{path('ecommerce_recherchetraitement')}}" method="POST" class="navbar-form form-search pull-right"> 
			  {{form_widget(formulaire.recherche)}} 
			             {#       {{form(formulaire)}} #}
			            <input type="submit" class="btn" value="Rechercher..">
            {{form_widget(formulaire)}}

          {#  <input id="Search" name="Search" type="text" class="input-medium search-query"> #}
                {#   <input type="submit" class="btn" value="Rechercher.."><nav>Rechercher..</nav> #}
  </form> 

