{#      {%include "::navigation.html.twig"%} #}
        
        <div class="span9">
            <h2>Mes informations</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    
                    <div class="span4">
                        <h4>Modifier mes informations</h4>
                        
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Modifier" />
    </div>
{{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>