<div class="col-lg-3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{path('admin_produits_index')}}">Produits</a>
            </li>
            <li>
                <a href="{{path('admin_categories_index')}}">Categories</a>
            </li>
            <li>
                <a href="{{ path('admin_commandes_index') }}"> Commandes</a>
            </li>
            <li>
                <a href="{{ path('admin_pages_index') }}"> Pages</a>
            </li>

        </ul>
    </div>
    </div>