<div class="container">
    <div class="row">
        <div class="span12">
         {#   {%include "::navigation.html.twig"%} #}
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                                        
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Valider" />
    </div>
{{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
</div>