{% extends "::base.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}


{% block body %}

<p>Nous vous avons envoyer un lien que vous devrez cliquer pour acceder a votre compte</p>	
{% endblock %}
